<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanshu.cost.mapper.RawMaterialsMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        detail_id, create_time, update_time, naked_price, profit, miscellaneous_fees, total_product_quote, specification, unit_weight, net_weight, pre_tax, price_perkg
    </sql>

    <delete id="deleteRawMaterialsByDetailId" parameterType="java.lang.Integer">
        DELETE FROM raw_materials WHERE detail_id = #{detailId}
    </delete>

</mapper>
