<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanshu.sys.mapper.SysUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        username, userId, password, email, mobile, status, create_time, update_time
    </sql>
    <insert id="insertRoleByUserId">
        insert into sys_user_role(user_id,role_id) values
        <foreach collection="roleList" item="item" separator=",">
            (#{userId},#{item})
        </foreach>
    </insert>

    <delete id="deleteRoleByUserId">
        delete from sys_user_role where user_id = #{userId}
    </delete>
    <select id="getUserIdByUserName" resultType="java.lang.Long">
        select user_id from sys_user where username = #{username}
    </select>

</mapper>
